<a href="https://colab.research.google.com/github/sarasheth/DA_LAB/blob/main/DA_LAB1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
from google.colab import files
uploaded = files.upload();
data = pd.read_csv("HT_2013-2020.csv");
data

Saving HT_2013-2020.csv to HT_2013-2020.csv

,DATA_YEAR,ORI,PUB_AGENCY_NAME,PUB_AGENCY_UNIT,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,DIVISION_NAME,COUNTY_NAME,REGION_NAME,POPULATION_GROUP_CODE,POPULATION_GROUP_DESC,OFFENSE_SUBCAT_ID,OFFENSE_NAME,OFFENSE_SUBCAT_NAME,ACTUAL_COUNT,UNFOUNDED_COUNT,CLEARED_COUNT,JUVENILE_CLEARED_COUNT
0,2016,MO0480600,Independence,NaN,City,MO,Missouri,West North Central,JACKSON,Midwest,2,"Cities from 100,000 thru 249,999",81,Human Trafficking,Commercial Sex Acts,2,0,2,0
1,2016,TX2201200,Fort Worth,NaN,City,TX,Texas,West South Central,PARKER; DENTON; TARRANT,South,1B,"Cities from 500,000 thru 999,999",82,Human Trafficking,Involuntary Servitude,1,0,0,0
2,2016,TX2270100,Austin,NaN,City,TX,Texas,West South Central,WILLIAMSON; TRAVIS,South,1B,"Cities from 500,000 thru 999,999",82,Human Trafficking,Involuntary Servitude,2,0,0,0
3,2019,NV0020100,Las Vegas Metropolitan Police Department,NaN,City,NV,Nevada,Mountain,CLARK,West,1A,"Cities 1,000,000 or over",81,Human Trafficking,Commercial Sex Acts,15,0,4,0
4,2017,AZ0070500,Chandler,NaN,City,AZ,Arizona,Mountain,MARICOPA,West,2,"Cities from 100,000 thru 249,999",81,Human Trafficking,Commercial Sex Acts,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4412,2019,KY0370000,Franklin,NaN,County,KY,Kentucky,East South Central,FRANKLIN,South,8C,"Non-MSA counties from 10,000 thru 24,999",82,Human Trafficking,Involuntary Servitude,2,0,0,0
4413,2019,KY0370000,Franklin,NaN,County,KY,Kentucky,East South Central,FRANKLIN,South,8C,"Non-MSA counties from 10,000 thru 24,999",82,Human Trafficking,Involuntary Servitude,1,0,0,0
4414,2020,KY0370000,Franklin,NaN,County,KY,Kentucky,East South Central,FRANKLIN,South,8C,"Non-MSA counties from 10,000 thru 24,999",81,Human Trafficking,Commercial Sex Acts,1,0,0,0
4415,2020,KY0370000,Franklin,NaN,County,KY,Kentucky,East South Central,FRANKLIN,South,8C,"Non-MSA counties from 10,000 thru 24,999",81,Human Trafficking,Commercial Sex Acts,1,0,0,0
4416,2020,KY0370000,Franklin,NaN,County,KY,Kentucky,East South Central,FRANKLIN,South,8C,"Non-MSA counties from 10,000 thru 24,999",81,Human Trafficking,Commercial Sex Acts,1,0,0,0

In [3]:
data.head()

,DATA_YEAR,ORI,PUB_AGENCY_NAME,PUB_AGENCY_UNIT,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,DIVISION_NAME,COUNTY_NAME,REGION_NAME,POPULATION_GROUP_CODE,POPULATION_GROUP_DESC,OFFENSE_SUBCAT_ID,OFFENSE_NAME,OFFENSE_SUBCAT_NAME,ACTUAL_COUNT,UNFOUNDED_COUNT,CLEARED_COUNT,JUVENILE_CLEARED_COUNT
0,2016,MO0480600,Independence,NaN,City,MO,Missouri,West North Central,JACKSON,Midwest,2,"Cities from 100,000 thru 249,999",81,Human Trafficking,Commercial Sex Acts,2,0,2,0
1,2016,TX2201200,Fort Worth,NaN,City,TX,Texas,West South Central,PARKER; DENTON; TARRANT,South,1B,"Cities from 500,000 thru 999,999",82,Human Trafficking,Involuntary Servitude,1,0,0,0
2,2016,TX2270100,Austin,NaN,City,TX,Texas,West South Central,WILLIAMSON; TRAVIS,South,1B,"Cities from 500,000 thru 999,999",82,Human Trafficking,Involuntary Servitude,2,0,0,0
3,2019,NV0020100,Las Vegas Metropolitan Police Department,NaN,City,NV,Nevada,Mountain,CLARK,West,1A,"Cities 1,000,000 or over",81,Human Trafficking,Commercial Sex Acts,15,0,4,0
4,2017,AZ0070500,Chandler,NaN,City,AZ,Arizona,Mountain,MARICOPA,West,2,"Cities from 100,000 thru 249,999",81,Human Trafficking,Commercial Sex Acts,1,0,0,0

In [4]:
data.tail()

,DATA_YEAR,ORI,PUB_AGENCY_NAME,PUB_AGENCY_UNIT,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,DIVISION_NAME,COUNTY_NAME,REGION_NAME,POPULATION_GROUP_CODE,POPULATION_GROUP_DESC,OFFENSE_SUBCAT_ID,OFFENSE_NAME,OFFENSE_SUBCAT_NAME,ACTUAL_COUNT,UNFOUNDED_COUNT,CLEARED_COUNT,JUVENILE_CLEARED_COUNT
4412,2019,KY0370000,Franklin,NaN,County,KY,Kentucky,East South Central,FRANKLIN,South,8C,"Non-MSA counties from 10,000 thru 24,999",82,Human Trafficking,Involuntary Servitude,2,0,0,0
4413,2019,KY0370000,Franklin,NaN,County,KY,Kentucky,East South Central,FRANKLIN,South,8C,"Non-MSA counties from 10,000 thru 24,999",82,Human Trafficking,Involuntary Servitude,1,0,0,0
4414,2020,KY0370000,Franklin,NaN,County,KY,Kentucky,East South Central,FRANKLIN,South,8C,"Non-MSA counties from 10,000 thru 24,999",81,Human Trafficking,Commercial Sex Acts,1,0,0,0
4415,2020,KY0370000,Franklin,NaN,County,KY,Kentucky,East South Central,FRANKLIN,South,8C,"Non-MSA counties from 10,000 thru 24,999",81,Human Trafficking,Commercial Sex Acts,1,0,0,0
4416,2020,KY0370000,Franklin,NaN,County,KY,Kentucky,East South Central,FRANKLIN,South,8C,"Non-MSA counties from 10,000 thru 24,999",81,Human Trafficking,Commercial Sex Acts,1,0,0,0

In [5]:
data.isnull

<bound method DataFrame.isnull of       DATA_YEAR        ORI                           PUB_AGENCY_NAME  \
0          2016  MO0480600                              Independence
1          2016  TX2201200                                Fort Worth
2          2016  TX2270100                                    Austin
3          2019  NV0020100  Las Vegas Metropolitan Police Department
4          2017  AZ0070500                                  Chandler
...         ...        ...                                       ...
4412       2019  KY0370000                                  Franklin
4413       2019  KY0370000                                  Franklin
4414       2020  KY0370000                                  Franklin
4415       2020  KY0370000                                  Franklin
4416       2020  KY0370000                                  Franklin

     PUB_AGENCY_UNIT AGENCY_TYPE_NAME STATE_ABBR STATE_NAME  \
0                NaN             City         MO   Missouri
1                NaN             City         TX      Texas
2                NaN             City         TX      Texas
3                NaN             City         NV     Nevada
4                NaN             City         AZ    Arizona
...              ...              ...        ...        ...
4412             NaN           County         KY   Kentucky
4413             NaN           County         KY   Kentucky
4414             NaN           County         KY   Kentucky
4415             NaN           County         KY   Kentucky
4416             NaN           County         KY   Kentucky

           DIVISION_NAME              COUNTY_NAME REGION_NAME  \
0     West North Central                  JACKSON     Midwest
1     West South Central  PARKER; DENTON; TARRANT       South
2     West South Central       WILLIAMSON; TRAVIS       South
3               Mountain                    CLARK        West
4               Mountain                 MARICOPA        West
...                  ...                      ...         ...
4412  East South Central                 FRANKLIN       South
4413  East South Central                 FRANKLIN       South
4414  East South Central                 FRANKLIN       South
4415  East South Central                 FRANKLIN       South
4416  East South Central                 FRANKLIN       South

     POPULATION_GROUP_CODE                     POPULATION_GROUP_DESC  \
0                        2          Cities from 100,000 thru 249,999
1                       1B          Cities from 500,000 thru 999,999
2                       1B          Cities from 500,000 thru 999,999
3                       1A                  Cities 1,000,000 or over
4                        2          Cities from 100,000 thru 249,999
...                    ...                                       ...
4412                    8C  Non-MSA counties from 10,000 thru 24,999
4413                    8C  Non-MSA counties from 10,000 thru 24,999
4414                    8C  Non-MSA counties from 10,000 thru 24,999
4415                    8C  Non-MSA counties from 10,000 thru 24,999
4416                    8C  Non-MSA counties from 10,000 thru 24,999

      OFFENSE_SUBCAT_ID       OFFENSE_NAME    OFFENSE_SUBCAT_NAME  \
0                    81  Human Trafficking    Commercial Sex Acts
1                    82  Human Trafficking  Involuntary Servitude
2                    82  Human Trafficking  Involuntary Servitude
3                    81  Human Trafficking    Commercial Sex Acts
4                    81  Human Trafficking    Commercial Sex Acts
...                 ...                ...                    ...
4412                 82  Human Trafficking  Involuntary Servitude
4413                 82  Human Trafficking  Involuntary Servitude
4414                 81  Human Trafficking    Commercial Sex Acts
4415                 81  Human Trafficking    Commercial Sex Acts
4416                 81  Human Trafficking    Commercial Sex Acts

      ACTUAL_COUNT  UNFOUNDED_COUNT  CLEARED_COUNT  JUVENILE_CLEARED_COUNT
0                2                0              2                       0
1                1                0              0                       0
2                2                0              0                       0
3               15                0              4                       0
4                1                0              0                       0
...            ...              ...            ...                     ...
4412             2                0              0                       0
4413             1                0              0                       0
4414             1                0              0                       0
4415             1                0              0                       0
4416             1                0              0                       0

[4417 rows x 19 columns]>